{% extends 'market/layout.html' %}
{% load static %}

{% block body %}
    <div class="detail">
      <b class="b">$39.00</b>
      <img class="detail-child" loading="lazy" alt="" />

      <header class="i-c-o-n-c-o-l-l-e-c-t-i-o-n-parent">
        <div class="group">
          <div class="div"></div>
          <h1 class="vegetable1">Vegetable</h1>
        </div>
      </header>
      <main class="detail-inner">
        <section class="frame-section">
          <div class="frame-parent11">
            <div class="add-to-cart-instance-wrapper">
              <img
                class="add-to-cart-instance"
                loading="lazy"
                alt=""
                src="/static/afri_food/public/frame-61@2x.png"
              />
            </div>
            <div class="product-description-parent">
              <div class="product-description">
                <div class="fresh-ewedu-5000-container12">
                  <p class="fresh-ewedu12">
                    <b>Fresh Ewedu</b>
                  </p>
                  <p class="p14">$50,00</p>
                </div>
              </div>
              <div class="category-browse">
                <div class="add-to-cart-label-wrapper">
                  <div class="add-to-cart-label">
                    <div class="size-selector-instance">
                      <input class="unit" placeholder="Unit" type="text" />
                    </div>
                    <button class="component-71">
                      <div class="add-to-cart12">Add to Cart</div>
                    </button>
                  </div>
                </div>
                <div class="description-our-fresh-spinach-wrapper">
                  <div class="description-our-fresh-container">
                    <p class="description">Description</p>
                    <p class="our-fresh-spinach">
                      Our fresh spinach is packed with nutrients and flavor,
                      making it a healthy and delicious addition to any meal.
                      Perfect for salads, smoothies, and more!
                    </p>
                  </div>
                </div>
                <div class="frame-parent12">
                  <img
                    class="frame-child5"
                    loading="lazy"
                    alt=""
                    src="./public/frame-48@2x.png"
                  />

                  <img
                    class="frame-child6"
                    loading="lazy"
                    alt=""
                    src="./public/frame-49@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="browse-categories-wrapper">
            <div class="browse-categories1">
              <div class="browse-categories-inner">
                <div class="line-parent">
                  <img class="frame-child7" loading="lazy" alt="" />

                  <div class="browse-our-categories-easily-f-container">
                    <div class="browse-our-categories-container2">
                      <p class="browse-our-categories2">
                        Browse our Categories
                      </p>
                      <p class="easily-find-what2">
                        Easily find what you’re looking for by browsing our
                        categories of fresh produce, canned goods, and baked
                        goods.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signup-deals">
                <img
                  class="component-1-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/component-1@2x.png"
                />

                <div class="component-2-container">
                  <div class="component-22">
                    <img
                      class="image-1-icon3"
                      alt=""
                      src="./public/image-1-1@2x.png"
                    />

                    <img
                      class="image-8-icon2"
                      loading="lazy"
                      alt=""
                      src="./public/image-8@2x.png"
                    />
                  </div>
                </div>
                <img
                  class="component-3-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/component-3@2x.png"
                />
              </div>
              <div class="food-at-afrifood">
                <div class="component-4-container">
                  <img
                    class="component-4-icon2"
                    loading="lazy"
                    alt=""
                    src="./public/component-4@2x.png"
                  />
                </div>
                <img
                  class="component-5-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/component-5@2x.png"
                />

                <img
                  class="component-6-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/component-6@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="contact-us-wrapper">
            <div class="contact-us">
              <div class="afrifood-at-foode-were-passi-container">
                <h3 class="afrifood-at-foode-container2">
                  <p class="afrifood5">
                    <b>AFriFo </b>
                    <a
                      class="od4"
                      href="https://10web-site.ai/75/big-spaniel/"
                      target="_blank"
                    >
                      <b>
                        <span class="od5">od</span>
                      </b>
                    </a>
                  </p>
                  <p class="blank-line36">
                    <a
                      class="blank-line37"
                      href="https://10web-site.ai/75/big-spaniel/"
                      target="_blank"
                    >
                      <b>
                        <span class="blank-line38">&nbsp;</span>
                      </b>
                    </a>
                  </p>
                  <p class="at-foode-were-passionate-abo2">
                    <span>
                      <span class="at-food2">At Food</span>
                      <span class="e-were-passionate2"
                        >E, we’re passionate about connecting buyers with
                        sellers of fresh food. If you’re interested in selling
                        your fresh produce, canned goods, or baked goods with
                        us, sign up today and start selling!</span
                      >
                    </span>
                  </p>
                </h3>
                <div class="frame-parent13">
                  <img
                    class="frame-child8"
                    loading="lazy"
                    alt=""
                    src="./public/frame-40.svg"
                  />

                  <img
                    class="frame-child9"
                    loading="lazy"
                    alt=""
                    src="./public/frame-41.svg"
                  />

                  <img
                    class="frame-child10"
                    loading="lazy"
                    alt=""
                    src="./public/frame-42.svg"
                  />
                </div>
              </div>
              <div class="contacts-saleafrifood-1-234-container">
                <h3 class="contacts-saleafrifood-1-container2">
                  <p class="contacts2">
                    <b>Contacts:</b>
                  </p>
                  <p class="blank-line39">
                    <b>&nbsp;</b>
                  </p>
                  <p class="saleafrifood2">sale@Afrifood</p>
                  <p class="blank-line40">&nbsp;</p>
                  <p class="p15">+1 234 234 234</p>
                  <p class="blank-line41">&nbsp;</p>
                  <p class="jones-st-something2">39 Jones St. Something</p>
                </h3>
              </div>
              <div class="subscription-confirmation-wrapper">
                <div class="subscription-confirmation">
                  <h3 class="sign-up-for-container2">
                    <p class="sign-up-for-the-latest-deals4">
                      <b class="sign-up-for-the-latest-deals5">
                        <span class="sign-up-for2"
                          >Sign up for the latest deals</span
                        >
                      </b>
                    </p>
                    <p class="blank-line42">
                      <b class="blank-line43">
                        <span class="blank-line44">&nbsp;</span>
                      </b>
                    </p>
                    <p class="blank-line45">
                      <b class="blank-line46">
                        <span class="blank-line47">&nbsp;</span>
                      </b>
                    </p>
                    <p class="blank-line48">
                      <b class="blank-line49">
                        <span class="blank-line50">&nbsp;</span>
                      </b>
                    </p>
                    <p class="blank-line51">
                      <span>
                        <b class="blank-line52">&nbsp;</b>
                      </span>
                    </p>
                    <p class="by-subscribing-i-agree-to-the4">
                      <span>
                        <span class="by-subscribing-i-agree-to-the5"
                          >By subscribing, I agree to the 
                        </span>
                      </span>
                      <a
                        class="terms-of-use6"
                        href="https://www.groupon.com/terms"
                        target="_blank"
                      >
                        <span>
                          <span class="terms-of-use7">
                            <span class="terms-of-use8">Terms of Use </span>
                          </span>
                        </span>
                      </a>
                    </p>
                    <p class="and-have-read-the-privacy-stat2">
                      <span>
                        <span class="and-have-read-the2"
                          >and have read the 
                        </span>
                      </span>
                      <a
                        class="privacy-statement6"
                        href="https://privacy.groupon.com/policies/en-US"
                        target="_blank"
                      >
                        <span>
                          <span class="privacy-statement7">
                            <span class="privacy-statement8"
                              >Privacy Statement.</span
                            >
                          </span>
                        </span>
                      </a>
                    </p>
                  </h3>
                  <div class="email-address-frame">
                    <input
                      class="email-address2"
                      placeholder="Email Address"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="frame-footer">
        <div class="shop-about-contact-wrapper">
          <h3 class="shop-about-contact2">Shop About Contact</h3>
        </div>
        <img
          class="image-11-icon2"
          loading="lazy"
          alt=""
          src="./public/image-11@2x.png"
        />
      </footer>
    </div>

    <div id="uploadPopup" class="popup-overlay" style="display: none">
      <div class="upload5">
        <h1 class="upload6">Upload</h1>
        <div class="upload-btn"></div>
        <div class="upload-btn1"></div>
        <div class="upload-btn2"></div>
        <section class="upload-inner">
          <div class="frame-parent26">
            <div class="ellipse-container">
              <div class="frame-child24"></div>
              <div class="frame-child25"></div>
              <div class="address-details-parent">
                <div class="address-details">
                  <div class="name-price-street-container">
                    <p class="blank-line73">&nbsp;</p>
                    <p class="name2">
                      <span class="name3">Name* </span>
                      <span class="span1"> </span>
                    </p>
                    <p class="price">Price*</p>
                    <p class="street-address2">Street address</p>
                    <p class="tags">Tags</p>
                  </div>
                </div>
                <div class="category-description">
                  <p class="category">Category*</p>
                  <p class="description1">Description</p>
                </div>
              </div>
            </div>
            <div class="frame-wrapper8">
              <div class="frame-parent27">
                <div class="frame-parent28">
                  <input class="frame-child26" type="text" />

                  <input class="frame-child27" type="text" />

                  <input class="frame-child28" type="text" />

                  <input class="frame-child29" type="text" />
                </div>
                <div class="frame-parent29">
                  <div class="food-type-label-wrapper">
                    <div class="food-type-label">
                      <div class="oil-meat-powder">
                        Oil Meat Powder Fruit Meat Spices
                      </div>
                      <div class="circle-marker">
                        <div class="circle-marker-child"></div>
                      </div>
                    </div>
                  </div>
                  <div class="snapshot-box"></div>
                  <div class="snapshot">Snapshot</div>
                  <div class="frame-wrapper9">
                    <div class="frame-parent30">
                      <img
                        class="frame-child30"
                        loading="lazy"
                        alt=""
                        src="./public/frame-56.svg"
                      />

                      <img class="frame-child31" loading="lazy" alt="" />

                      <div class="frame-parent31">
                        <img
                          class="frame-child32"
                          loading="lazy"
                          alt=""
                          src="./public/frame-56.svg"
                        />

                        <img
                          class="frame-child33"
                          loading="lazy"
                          alt=""
                          src="./public/frame-56.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <button class="upload-label" id="popupuploadLabel">
                  <div class="upload7">UPLOAD</div>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script>
      var popupuploadLabel = document.getElementById("popupuploadLabel");
      if (popupuploadLabel) {
        popupuploadLabel.addEventListener("click", function (e) {
          window.location.href = "./desktop.html";
        });
      }
      
      var cHECKOUTText = document.getElementById("cHECKOUTText");
      if (cHECKOUTText) {
        cHECKOUTText.addEventListener("click", function (e) {
          window.location.href = "./checkout.html";
        });
      }
      
      var aBOUTText = document.getElementById("aBOUTText");
      if (aBOUTText) {
        aBOUTText.addEventListener("click", function (e) {
          // Please sync "About" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Login" to the project
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function () {
          var popup = document.getElementById("uploadPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
 {% endblock %}
