{% extends 'market/layout.html' %}
{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 text-danger">Oops!</h1>
        <h2 class="display-4">Something went wrong.</h2>
        <p class="lead">We're sorry, but something went wrong. Please try again later.</p>
        <p>
            <a href="{% url 'index' %}" class="btn btn-primary mt-4 mr-3">Go to Home</a>
            <span onclick="openModal('loginModal')" class="btn btn-primary mt-4">Login</span>
        </p>
        

    </div>
</div>
{% endblock %}
