{% extends 'market/layout.html' %}
{% load static %}

{% block body %}


<div class="container index">
  <div class="">
    <div class="welcome-and-shop">
   <h3 class="afrifood-welcome">Welcome to AfriFood {% if request.user.is_authenticated %} {{user.username}} {% endif %}
    <a href="market">
    <p class="btn btn-success" style="margin-top: 10px;">SHOP NOW</p>
      </a>
   </h3>
    </div>
        <div class="frame-item img-fluid">
          <img src="/media/images/proudly African.png" alt="AfriFood" class="frame-item-img">
        </div>
    
  </div>


  <div id="join" class="join-our-community">
    <p class="">
      We are your ultimate destination for authentic African food items.
      Join our thriving community of buyers and experience the unparalleled
      convenience of online food shopping. 
      Enjoy a seamless shopping experience as we deliver your favorite African foods directly
       to your doorstep, anywhere in the world.
  </p>
  
  </div>

  <br>
  <br>

   <!-- Browse Our Categories Section -->
   <div id="categories" class="our-categories text-center">
    <h2>Browse Our Categories</h2>
    <p>
      Explore a wide variety of categories filled with authentic African food items. 
       we have meticulously organized our products to help you find exactly what you need.
       Shop by category and enjoy a seamless browsing experience tailored to your culinary needs.
    </p>
    <br>
    <div class="row">
      <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-3">
        <a href="{% url 'category_detail' slug='seafood' %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="Catfish"
            src="/media/images/fishcat.jpg"
          />
          <span>Seafood</span>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-3">
        <a href="{% url 'category_detail' slug='cow-skin-dried-ponmo' %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="Ponmo"
            src="/media/images/pon.png"
          />
          <span>Ponmo</span>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-3">
        <a href="{% url 'category_detail' slug='seafood' %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="Prawn"
            src="/media/images/cra.jpg"
          />
          <span>Crayfish</span>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-3">
        <a href="{% url 'category_detail' slug='cooking-oils-epo-pupa-and-ororo' %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="Palm Oil"
            src="/media/images/pp.jpg"
          />
          <span>Cooking Oils</span>
        </a>
      </div>
    </div>
  </div>

   <!-- Browse Our Categories Section -->
   <div id="discover" class="our-products text-center">
    <h2>Discover Our Products</h2>
    <p>
      Explore the collections of our products like smoked catfish, crayfish, dried black and white ponmo,
      cooking oils and more. At AfriFood, our products are carefully selected to satisy our buyers
      and give them the African experience anywhere in the world.
    </p>
    <br>
    <div class="container row">
      <div class="col-6 col-md-3 d-flex flex-column align-items-center">
        {% for oil in recent_oils %}
          {% if oil.images.exists %}
        <a href="{% url 'product_detail' model=oil.model_name id=oil.id %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="{{oil.title}}"
            src="{{ oil.images.first.image.url }}"
          />
          
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center">
        {% for crayfish in recent_crayfish %}
          {% if crayfish.images.exists %}
          <a href="{% url 'product_detail' model=crayfish.model_name id=crayfish.id %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="{{crayfish.title}}"
            src="{{ crayfish.images.first.image.url }}"
          />
          
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center">
        {% for catfish in recent_catfish %}
          {% if catfish.images.exists %}
          <a href="{% url 'product_detail' model=catfish.model_name id=catfish.id %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="{{catfish.title}}"
            src="{{ catfish.images.first.image.url }}"
          />
          
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center">
        {% for ponmo in recent_ponmo_by_kg %}
          {% if ponmo.images.exists %}
          <a href="{% url 'product_detail' model=ponmo.model_name id=ponmo.id %}" class="d-flex flex-column align-items-center">
          <img
            class="img-fluid"
            loading="lazy"
            alt="{{ponmo.title}}"
            src="{{ ponmo.images.first.image.url }}"
          />
          
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div>
    <a href="market">
    <button id="see-more" class="see-more btn-success">See More</button>
    </a>
  </div>
  <div id="footer-content" class="a-fri-food-message-wrapper">
    <div class="a-fri-food-message">
      <div class="afrifood-at-foode-were-passi-parent">
        <div class="afrifood-at-foode-container">
          <p class="afrifood1">
            <b>AFriFood </b>
            <a
              class="od"
              href="https://10web-site.ai/75/big-spaniel/"
              target="_blank"
            >
              <b>
                <span class="od1"></span>
              </b>
            </a>
          </p>
          <p class="blank-line2">
            <a
              class="blank-line3"
              href="https://10web-site.ai/75/big-spaniel/"
              target="_blank"
            >
              
            </a>
          </p>
          <br>
          <p class="at-foode-were-passionate-abo">
            <span>
              <span class="at-food"></span>
              <span class="e-were-passionate">Your premier destination for indigenous African foods.
                You could be away from Africa but we bring Africa to you through
                our Afrocentric food items.</span
              >
            </span>
          </p>
        </div>
        <br>
        <div class="sign-up-area-parent">
          <img
            class="sign-up-area"
            loading="lazy"
            alt=""
            src="/static/afri_food/public/frame-40.svg"
          />

          <img
            class="sign-up-area1"
            loading="lazy"
            alt=""
            src="/static/afri_food/public/frame-41.svg"
          />

          <img
            class="sign-up-area2"
            loading="lazy"
            alt=""
            src="/static/afri_food/public/frame-42.svg"
          />
        </div>
      </div>
      
      <div id="email-field" class="email-field">
        <div class="contacts-saleafrifood-1-container">
         
          <p class="blank-line5">
            <b>&nbsp;</b>
          </p>
          <div>
            <ul class="list-unstyled">
              <li><h2>Contact Us</h2></li>
              <span class="blank-line6">&nbsp;</span>
              <li><i class="fas fa-envelope"></i> Email: <a href="mailto:info@afrifood.com">info@afrifood.com</a></li>
              <span class="blank-line6">&nbsp;</span>
              <li><i class="fas fa-phone"></i> Phone: +234 9155 102 965</li>
              <span class="blank-line6">&nbsp;</span>
              <li><i class="fas fa-map-marker-alt"></i> Address: Osogbo, Osun State</li>
            </ul>
          </div>
         
        </div>
      </div>
      <div class="call-to-action">
        <div class="sign-up-for-the-latest-deals-b-parent">
          <div class="sign-up-for-container">
            <p class="sign-up-for-the-latest-deals">
              <b class="sign-up-for-the-latest-deals1">
                <span class="sign-up-for"
                  >Sign up for the latest deals</span
                >
              </b>
            </p>
            <p class="blank-line8">
              <b class="blank-line9">
                <span class="blank-line10">&nbsp;</span>
              </b>
            </p>
            <p class="blank-line11">
              <b class="blank-line12">
                <span class="blank-line13">&nbsp;</span>
              </b>
            </p>
            <p class="blank-line14">
              <b class="blank-line15">
                <span class="blank-line16">&nbsp;</span>
              </b>
            </p>
            <p class="blank-line17">
              <span>
                <b class="blank-line18">&nbsp;</b>
              </span>
            </p>
            <p class="by-subscribing-i-agree-to-the">
              <span>
                <span class="by-subscribing-i-agree-to-the1"
                  >By subscribing, I agree to the 
                </span>
              </span>
              <a
                class="terms-of-use"
                href="https://www.groupon.com/terms"
                target="_blank"
              >
                <span>
                  <span class="terms-of-use1">
                    <span class="terms-of-use2">Terms of Use </span>
                  </span>
                </span>
              </a>
            </p>
            <p class="and-have-read-the-privacy-stat">
              <span>
                <span class="and-have-read-the">and have read the  </span>
              </span>
              <a
                class="privacy-statement"
                href="https://privacy.groupon.com/policies/en-US"
                target="_blank"
              >
                <span>
                  <span class="privacy-statement1">
                    <span class="privacy-statement2"
                      >Privacy Statement.</span
                    >
                  </span>
                </span>
              </a>
            </p>
          </div>
          <div class="email-address-wrapper">
            <input
              class="email-address"
              placeholder="Email Address"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
  <!-- Add more text elements here if needed -->
</div>
{% endblock %}
