{% extends 'market/layout.html' %}
{% load static %}
{% block body %}
<div class="container" style="top: 100px; position: relative;">
  <div class="scrolling-text-container">
    <div class="scrolling-text">
      Welcome to AfriFood - Proudly African. Discover our range of products and get indigenous African foods delivered to you!
    </div>
  </div>
  <div style="margin-top: 70px;" class="row">  
    <div class="col">  
      <h2>Cooking Oils</h2>
      <br>
      <div class="row">  
        {% for oil in recent_oils %}
          {% if oil.images.exists %}
            <div class="col-3 d-flex flex-column align-items-center">
              <a href="{% url 'product_detail' model=oil.model_name id=oil.id %}" class="d-flex flex-column align-items-center">
                <img
                  class="img-fluid product-image"
                  loading="lazy"
                  alt="{{oil.title}}"
                  src="{{ oil.images.first.image.url }}"
                />
                <span>{{oil.title}}</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <br>

      <a href="{% url 'oils' %}">
        <span class="btn btn-primary">See More</span>
      </a>

      <hr>

      <h2>Catfish</h2>
      <br>
      <div class="row">  
        {% for catfish in recent_catfish %}
          {% if catfish.images.exists %}
            <div class="col-3 d-flex flex-column align-items-center">
              <a href="{% url 'product_detail' model=catfish.model_name id=catfish.id %}" class="d-flex flex-column align-items-center">
                <img
                  class="img-fluid product-image"
                  loading="lazy"
                  alt="{{catfish.title}}"
                  src="{{ catfish.images.first.image.url }}"
                />
                <span>{{catfish.title}}</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <br>

      <a href="{% url 'catfish' %}">
        <span class="btn btn-primary">See More</span>
      </a>
      <hr>
      <h2>Crayfish</h2>
      <br>
      <div class="row">  
        {% for crayfish in recent_crayfish %}
          {% if crayfish.images.exists %}
            <div class="col-3 d-flex flex-column align-items-center">
              <a href="{% url 'product_detail' model=crayfish.model_name id=crayfish.id %}" class="d-flex flex-column align-items-center">
                <img
                  class="img-fluid product-image"
                  loading="lazy"
                  alt="{{crayfish.title}}"
                  src="{{ crayfish.images.first.image.url }}"
                />
                <span>{{crayfish.title}}</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <br>

      <a href="{% url 'crayfish' %}">
        <span class="btn btn-primary">See More</span>
      </a>

      <hr>
      <h2>Ponmo By Kg</h2>
      <br>
      <div class="row">  
        {% for ponmo in recent_ponmo_by_kg %}
          {% if ponmo.images.exists %}
            <div class="col-3 d-flex flex-column align-items-center">
              <a href="{% url 'product_detail' model=ponmo.model_name id=ponmo.id %}" class="d-flex flex-column align-items-center">
                <img
                  class="img-fluid product-image"
                  loading="lazy"
                  alt="{{ponmo.title}}"
                  src="{{ ponmo.images.first.image.url }}"
                />
                <span>{{ponmo.title}}</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <br>
      <a href="{% url 'ponmo_by_kg' %}">
        <span class="btn btn-primary">See More</span>
      </a>

      <hr>
      <h2>Ponmo By Piece</h2>
      <br>
      <div class="row">  
        {% for ponmo in recent_ponmo_by_piece %}
          {% if ponmo.images.exists %}
            <div class="col-3 d-flex flex-column align-items-center">
              <a href="{% url 'product_detail' model=ponmo.model_name id=ponmo.id %}" class="d-flex flex-column align-items-center">
                <img
                  class="img-fluid product-image"
                  loading="lazy"
                  alt="{{ponmo.title}}"
                  src="{{ ponmo.images.first.image.url }}"
                />
                <span>{{ponmo.title}}</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <br>
      <a href="{% url 'ponmo_by_piece' %}">
        <span class="btn btn-primary">See More</span>
      </a>
    </div>
  </div>
</div>

<style>
  .scrolling-text-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    background-color: #f8f9fa; /* Optional: Adds background color */
    padding: 10px 0; /* Optional: Adds padding */
  }

  .scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-text 15s linear infinite;
    font-size: 1.2rem; /* Adjust the font size as needed */
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .product-image {
    border: 1px solid black; /* Add black border */
    border-radius: 5px; /* Optional: Add border radius */
    margin-bottom: 10px; /* Add some space between images and text */
  }
</style>
{% endblock %}
