{% extends 'market/layout.html' %}
{% load static %}
{% block body %}
<div class="container" style="top: 20px; position: relative;">
  <div class="scrolling-text-container">
    <div class="scrolling-text">
        ❤️ Whether dried white or black ponmo, we have them in stock for you per KG. Enjoy your ponmo anywhere in the world with AfriFood! ❤️
    </div>
  </div>
  <div style="margin-top: 70px;" class="row">  
    <div class="col">  
      <h2>Dried White and Black Ponmo</h2>
      <br>
      <div class="row">  
        {% for ponmo in ponmo_by_kg %}
          {% if ponmo.images.exists %}
            <div class="col-4 d-flex flex-column align-items-center">
              <br>
              <a href="{% url 'product_detail' model=ponmo.model_name id=ponmo.id %}" class="d-flex flex-column align-items-center">
                <img
                  class="img-fluid product-image"
                  loading="lazy"
                  alt="{{ponmo.title}}"
                  src="{{ ponmo.images.first.image.url }}"
                />
                <span>{{ponmo.title|truncatechars:10}}</span>
              </a>
              <hr>
              {% if ponmo.in_cart %}
                <p style="color: red;" class="mt-2 remove-from-cart" data-product-type="{{ ponmo.model_name }}" data-item-id="{{ ponmo.id }}">Remove from Cart</p>
              {% else %}
                <p style="color: green;" class="mt-2 add-to-cart" data-product-type="{{ ponmo.model_name }}" data-item-id="{{ ponmo.id }}">Add to Cart</p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
  <!-- Pagination controls -->
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      {% if ponmo_by_kg.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ ponmo_by_kg.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="First">&laquo;&laquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-label="Previous">&laquo;</span>
        </li>
      {% endif %}

      {% for num in ponmo_by_kg.paginator.page_range %}
        {% if ponmo_by_kg.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > ponmo_by_kg.number|add:'-3' and num < ponmo_by_kg.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if ponmo_by_kg.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ ponmo_by_kg.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ ponmo_by_kg.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Next">&raquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-label="Last">&raquo;&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>

<style>
    .scrolling-text-container {
      width: 100%;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      background-color: #f8f9fa; /* Optional: Adds background color */
      padding: 10px 0; /* Optional: Adds padding */
    }
  
    .scrolling-text {
      display: inline-block;
      padding-left: 100%;
      animation: scroll-text 15s linear infinite;
      font-size: 1.2rem; /* Adjust the font size as needed */
    }
  
    @keyframes scroll-text {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
    .product-image {
      
      border-radius: 5px; /* Optional: Add border radius */
      margin-bottom: 10px; /* Add some space between images and text */
    }
  </style>
  {% endblock %}
  